<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
				<key>dateExpires</key>
				<string>18.08.18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Accengage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AccengageExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Haneke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftHTTP.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YandexMobileMetrica.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>59HT5H5LDJ.ru.start.ios.StartRuNotificationContentExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>59HT5H5LDJ</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>59HT5H5LDJ.ru.start.ios.StartRuNotificationContentExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>StartRuNotificationContentExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>393bfa96-ccaf-466f-a7a2-e83ab764be23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3EE72DC24191067027E9582E35CA72F9D9CBE89</string>
						<key>dateExpires</key>
						<string>18.08.18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>59HT5H5LDJ.ru.start.ios.StartRuNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>59HT5H5LDJ</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>59HT5H5LDJ.ru.start.ios.StartRuNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>StartRuNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>393bfa96-ccaf-466f-a7a2-e83ab764be23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59HT5H5LDJ</string>
						<key>name</key>
						<string>START. RU MEDIA LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>59HT5H5LDJ.ru.start.ios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:start.ru</string>
					<string>applinks:modernx.github.io</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>59HT5H5LDJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>start.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e09b5377-4770-4c45-bca6-870783b75398</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ru.start.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>59HT5H5LDJ</string>
				<key>name</key>
				<string>START. RU MEDIA LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
